<section id="accomodations">
	<h1 class="slideanim">Accomodations</h1>
	<div class="row no-marg">
		<div class="col-sm-12 no-pad slideanim">
			<p class="alert-msg"><strong>All hotel blocks links have closed.</strong> You may try calling the hotel directly to secure a block rate.</p>
		</div>
	</div>
	<div class="row no-marg no-pad">
		<div class="col-sm-6 no-pad slideanim">
			<div class="details-container">
				<h2 class="hotel-option">Hotel - Option 1</h2>
				<p class="big"><strong>Hilton Charlotte Center City</strong></p>
				<%= image_tag "hilton.jpg", class: "img-rounded details-image" %>
				<div class="hotel-info text-left top-h-info">
					<table>
						<tbody>
							<tr>
								<td class="icon"><i class="fa fa-usd text-success" aria-hidden="true"></i></td>
								<td>Block rate is $169 per night</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-car text-warning" aria-hidden="true"></i></td>
								<td>Self-parking rate is $18 per day</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-bus text-info" aria-hidden="true"></i></td>
								<td><strong>Guest shuttle will be provided from this location</strong></td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-glass purple" aria-hidden="true"></i></td>
								<td><strong>Friday evening Welcome Party will take place at this location at 9:00 PM</strong></td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i></td>
								<td>
									<div>222 E 3rd St, Charlotte, NC 28202</div>
									<div><ul><li>Located in the heart of Uptown Charlotte - 1 mile from the church!</li></ul></div>
								</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-phone text-primary" aria-hidden="true"></i></td>
								<td>704-377-1500</td>
							</tr>
						</tbody>
					</table>
				</div>
				<a class="styled btn" href="https://aws.passkey.com/go/RobbinsYatesWedding" rel="noopener noreferrer" target="_blank"><i class="fa fa-star" aria-hidden="true"></i>Click to Book Block Rate!</a>
			</div>
		</div>
		<div class="col-sm-6 no-pad slideanim">
			<div class="details-container">
				<h2 class="hotel-option">Hotel - Option 2</h2>
				<p class="big hotel-2"><strong>Courtyard by Marriott Charlotte City Center</strong></p>
				<%= image_tag "courtyard.jpg", class: "img-rounded details-image" %>
				<div class="hotel-info text-left top-h-info">
					<table>
						<tbody>
							<tr>
								<td class="icon"><i class="fa fa-usd text-success" aria-hidden="true"></i></td>
								<td>Block rate is $129 per night</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-car text-warning" aria-hidden="true"></i></td>
								<td>Self-parking rate is $18 per day</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-bus text-info" aria-hidden="true"></i></td>
								<td>Please walk one block to the Hilton Charlotte Center City for guest shuttle pick-up</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i></td>
								<td>
									<div>237 S Tryon St, Charlotte, NC 28202</div>
									<div><ul><li>Located in the heart of Uptown Charlotte - 1 mile from the church!</li></ul></div>
								</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-phone text-primary" aria-hidden="true"></i></td>
								<td>704-926-5800</td>
							</tr>
						</tbody>
					</table>
				</div>
				<a class="styled btn" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Robbins/Yates%20Wedding%5Ecltup%60RYWRYWA%7CRYWRYWB%60129.00%60USD%60false%604%6010/25/18%6010/28/18%609/26/18&app=resvlink&stop_mobi=yes" 
				target="_blank" rel="noopener noreferrer"><i class="fa fa-star" aria-hidden="true"></i>Click to Book Block Rate!</a>
			</div>
		</div>
	</div>
	<div class="row no-marg no-pad">
		<div class="col-sm-6 no-pad slideanim">
			<div class="details-container">
				<h2 class="hotel-option">Hotel - Option 3</h2>
				<p class="big"><strong>Hilton Garden Inn Charlotte Uptown</strong></p>
				<%= image_tag "garden_inn.jpg", class: "img-rounded details-image" %>
				<div class="hotel-info text-left">
					<table>
						<tbody>
							<tr>
								<td class="icon"><i class="fa fa-usd text-success" aria-hidden="true"></i></td>
								<td>Block rate is $149 per night</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-car text-warning" aria-hidden="true"></i></td>
								<td>Self-parking rate is $15 per day</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-bus text-info" aria-hidden="true"></i></td>
								<td>This hotel provides a complimentary shuttle. You may also walk 3 blocks to the Hilton Center City to catch the wedding shuttle bus.</td>
							<tr>
								<td class="icon"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i></td>
								<td>
									<div>508 East Martin Luther King Jr. Boulevard, Charlotte, NC 28202</div>
									<div><ul><li>Located in Uptown Charlotte - 1 mile from the church!</li></ul></div>
								</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-phone text-primary" aria-hidden="true"></i></td>
								<td>704-347-5972</td>
							</tr>
						</tbody>
					</table>
				</div>
				<a class="styled btn" target="_blank" rel="noopener noreferrer" href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/C/CLTUPGI-RYW-20181026/index.jhtml"><i class="fa fa-star" aria-hidden="true"></i>Click to Book Block Rate!</a>
			</div>
		</div>
		<div class="col-sm-6 no-pad slideanim">
			<div class="details-container">
				<h2 class="hotel-option">Hotel - Option 4</h2>
				<p class="big"><strong>Four Points by Sheraton Charlotte</strong></p>
				<%= image_tag "four_points.jpg", class: "img-rounded details-image" %>
				<div class="hotel-info text-left">
					<table>
						<tbody>
							<tr>
								<td class="icon"><i class="fa fa-usd text-success" aria-hidden="true"></i></td>
								<td>Block rate is $99 per night</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-car text-warning" aria-hidden="true"></i></td>
								<td>Parking is free</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-train text-info" aria-hidden="true"></i></td>
								<td>
									<div>Located next to the Charlotte Lynx Light Rail</div>
									<div>
										<ul>
											<li>One-way tickets to Uptown Charlotte are $2.20</li>
											<li>The “3rd/Convention Center Station” stop is next to the Hilton</li>
										</ul>
									</div>
								</td>
							<tr>
								<td class="icon"><i class="fa fa-map-marker text-danger" aria-hidden="true"></i></td>
								<td>
									<div>315 E Woodlawn Rd, Charlotte, NC 28217</div>
									<div><ul><li>Located in South Charlotte - 3.5 miles from the church</li></ul></div>
								</td>
							</tr>
							<tr>
								<td class="icon"><i class="fa fa-phone text-primary" aria-hidden="true"></i></td>
								<td>704-561-5562</td>
							</tr>
						</tbody>
					</table>
				</div>
				<a class="styled btn" href="https://www.marriott.com/hotels/travel/cltfp-four-points-charlotte/" rel="noopener noreferrer" target="_blank"><i class="fa fa-star" aria-hidden="true"></i>Click to Book Block Rate!</a>
			</div>
		</div>
	</div>
</section>