<section id="our-story">
	<h1 class="slideanim">Our Story</h1>
	<div class="row">
		<div class="col-sm-12 no-pad slideanim">
			<div class="story-img-container left-ct">
				<%= image_tag "story_pic_1.jpg", class: "story-image img-rounded front-img" %>
				<%= image_tag "story_pic_3.jpg", class: "story-image img-rounded" %>
			</div>
			<h3>How We Met</h3>
			<p class="text-left story-text">
We met in November of 2013 at a bowling alley near Charlotte when Brian was doing a site tour for work. We were both just there with friends from work, so no sparks were flying between us yet. Brian moved to Charlotte in January of 2014 and ran into Kirby a few more times. We eventually started hitting it off (especially once Brian found out Kirby was single). After several fun-filled weekends like the annual Charlotte BBQ/Bourbon festival and a pontoon boat trip on Lake Norman, it was clear that we wanted to be more than friends, so we began dating.
<br>
Our first official “date” was at a bar in Uptown Charlotte called Istanbul. Kirby was Brian’s first real girlfriend, so this whole concept of dating someone seriously was very new to him. It should be noted that some of Brian’s friends have coined the tongue-in-cheek expression “Yates dates for life” after discovering Brian proposed to his first real girlfriend. After several more successful dates, Brian finally asked Kirby to be his girlfriend in August of 2014 at a Carolina Panthers game (Panthers won, but go Steelers). Kirby said yes, and the rest is history.
<br>
We now have been all over the world together, attempting to satisfy Kirby’s Wanderlust needs (Brian likes to travel, too). But even with all the fun we have in our travels, we always look forward to coming back to our home in Charlotte, NC. We both couldn’t be happier with how our lives turned out, and are very excited to share our wedding day with you!

			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 no-pad slideanim">
			<div class="story-img-container right-ct">
				<%= image_tag "story_pic_2.jpg", class: "story-image img-rounded front-img"%>
				<%= image_tag "story_pic_4.jpg", class: "story-image img-rounded" %>
			</div>
			<h3>The Proposal</h3>
			<p class="text-left story-text">
It was the night before we left for our trip to Iceland, and Kirby walked to Target to get a few last minute items. Brian had planned to meet Kirby nearby for dinner, but he called her on his way home and said his car had broken down! He needed her to walk home so she could get her car and pick him up.
<br>As soon as Kirby told Brian she arrived home, he sent her a link to a website he had created called “Where’s Brian?”. The website required Kirby to answer specific questions about their relationship correctly to obtain the longitude and latitude of Brian’s location. For each question answered, she gained a new digit of his location. Once she completed all the questions, the website took her to google maps where Brian’s location was plotted.
<br>Kirby got in her car and drove to Freedom Park where they had picnicked together in the past. Once she pulled up, Brian was waiting on the stage in the center of the park. As she walked towards him, she saw that he had set up a picnic on the grass.
<br>Brian handed her a card, and in it he had written 14 reasons why he loved her. At the end of the letter, it told Kirby to go back and look for the underlined or circled letters. As she read back through and realized it spelled “Will you marry me?”, Brian got on his knee and proposed!
<br>We popped champagne and celebrated with snacks with just the two of us before heading home to call friends and family. We topped the night off with a drink at a nearby bar, and the next day we left for Iceland to enjoy 10 amazing days together!
			</p>
		</div>
	</div>
</section>