<div id="result-container">
  <% if @rsvp_exists %>
	<p class="bad">Oops! You've already submitted an RSVP. If you wish to make a change, please contact Brian Yates at 724-799-1331.</p>
  <% else %>
	<p class="bad">Oops! Something went wrong...your RSVP could not be submitted. Please try again; if the problem persists, contact Brian Yates at 724-799-1331.</p>
  <% end %>
  <a id="confirm">OK</a>
</div>